<nav>
    <h1 class="logo">ShopApp<span>.</span></h1>
    <form action="">
        <div class="form_dev">
            <input type="text" name="" id="" placeholder="Search for product">
            <select name="" id="" class="options_form">
                <option value="">All Categores</option>
                <option value="">ghaith</option>
                <option value="">ghaith</option>
                <option value="">ghaith</option>
                <option value="">ghaith</option>
            </select>
            <span class="material-symbols-outlined">
                search
            </span>
        </div>
    </form>
    <div class="icon_nav">
        <span class="material-symbols-outlined hint--bottom" aria-label="Compare">
            compare_arrows
            </span>
        <span class="material-symbols-outlined hint--bottom" aria-label=" Wishlist" >
            favorite
        </span>
        <span class="material-symbols-outlined hint--bottom-left" aria-label=" My Account" >
            person
            </span>
        <div class="cart hint--bottom-right" aria-label=" Cart"> 
            <span class="material-symbols-outlined">
                shopping_bag
            </span>
            <span class="material-symbols-outlined dolars">
                attach_money
                </span>
            <p>0.00</p>
            <p class="curent">0</p>
        </div>

    </div>
</nav>